// Define variables
$myColor: #081b68;
$space: 10px;


.wrap p {
	padding: $space;
	margin: $space * 2;
}

.p-border {
	border: dotted 3px $myColor;
}

.p-background {
	background: rgba($myColor, 0.3);
}

.p-color {
	color: $myColor;
}